.vscode/**
.vscode-test/**
out/test/**
server/out/test/**
.prettierignore
client/src/**
server/src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*~
node_modules
client/node_modules
server/node_modules