on:
  release:
    types:
      - created

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - run: npm install
    - name: Test on Linux
      run: xvfb-run -a npm test
      if: runner.os == 'Linux'
    - name: Test on Windows
      run: npm test
      if: runner.os != 'Linux'
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Publish
      run: npm run deploy
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}